body {
    background-color: #579C87;
    color: #FCCA46;

}
.navbar {
    font-family: 'Shrikhand', cursive;
    font-size: 48px;
}

.card {
    background-color: #233D4D;
    border-color: #FCCA46;
    border-width: 3px;
}

.card-header {
    font-family: 'Lato', sans-serif;
    font-size: 18px;

}

.search-button {
    background-color:#579C87;
    color: #FCCA46;
    margin: 2px;
}

form {
    font-size: 12px;
}
button {
    margin: 10px;
}